# Server Config
PORT=5000
NODE_ENV=development

# Neon PostgreSQL
DATABASE_URL=postgres://user:password@ep-sample-123456.ap-south-1.aws.neon.tech/neondb?sslmode=require

# MongoDB Atlas
MONGO_URI=mongodb+sandbox.gcp.mongodb.net/?retryWrites=true&w=majority

# AWS S3 Configuration
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=AKIAXXXXXXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AWS_S3_BUCKET_NAME=my-fitness-media-bucket

# JWT Security
JWT_SECRET=super_secret_jwt_key
JWT_EXPIRES_IN=7d

# External APIs
RAPIDAPI_KEY=your_rapidapi_key
RAPIDAPI_HOST=exercisedb.p.rapidapi.com

#RazorPay
RAZORPAY_KEY_ID=rzp_test_YOUR_KEY_ID_HERE
RAZORPAY_KEY_SECRET=YOUR_KEY_SECRET_HERE
RAZORPAY_WEBHOOK_SECRET=your_razorpay_webhook_secret